.menu {
    padding: 40px 20px;
    border-right: 1px solid #DDDEE5;
    background: #FFF;
    position: absolute;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease;
}

.menu_open {
    padding: 40px;
}

.menu_top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.nav_btn {
    border: none;
    border-radius: 8px;
    padding: 7px;
    background: #FFF;
}

.nav_open_btn {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.menu_photo_block {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nav_link {
    color: #39414A;
    font-feature-settings: 'clig' off, 'liga' off;
    text-decoration: none;
    /* Web/Основной */
    font-family: 'Manrope-m';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 20px */
}

.active_page {
    background: #F6F6F7;
}

.active_page path {
    stroke: #91AA15 !important;
}

.menu_open_photo_top {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 25px;
}

.menu_open_txt_part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.menu_open_txt_bold {
    color:#39414A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Manrope-sb';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 20px */
}

.menu_open_txt {
    color: #58595B;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Web/Кнопка_доп */
    font-family: 'Manrope-m';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 15.4px */
}

.menu_exit_btn {
    padding: 8px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid#DDDEE5;
    background: #FFF;
    transition: all .3s ease;
}

.menu_exit_btn span {
    color: #FB6464;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Manrope-m';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 13.2px */
    transition: all .3s ease;
}

.menu_exit_btn:hover {
    background: #FB6464;
}

.menu_exit_btn:hover 
.menu_exit_txt{
    color: #FFF;
}