* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background: #DDDEE5;
  height: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: 'Manrope-b';
  src: url('../public/fonts/Manrope-Bold.ttf');
}

@font-face {
  font-family: 'Manrope-m';
  src: url('../public/fonts/Manrope-Medium.ttf');
}

@font-face {
  font-family: 'Manrope-sb';
  src: url('../public/fonts/Manrope-SemiBold.ttf');
}